a{
    text-decoration: none;
}
.gameshop{
    text-align:center;
    margin-left: 20%;
    padding-top: 40px;
    background-color: #ff0011;
    border: 4px solid  black;
    float: left ;width: 50%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
.cart{
    float: right;
    padding: 1rem;
    margin-bottom: 1rem;
}
.people{
    float: right;
    padding: 1rem;
    margin-bottom: 1rem;    
}
.like{
    float: right;
    padding: 1rem;
    margin-bottom: 1rem;
}
.menu{
    float: right;
    padding: 1rem;
    margin-bottom: 1rem;
}
.left_menu{
    float: left;
    border: 4px solid  rgb(0, 0, 0);
    margin-left: 10px;

    position: fixed;
    top: 115px;
    left: 15px;
    right: 80%;
}
.main_page{
    margin-left: 270px;
}

.product-inner {
    margin-left: 23%;
    padding-top: 10%;
    width: 300px;
    background: white;
    text-align: center;
    border-bottom: 2px solid #fbcbd3;
    transition: .2s linear;
 }
 .product-inner:hover {
    border-color: #ff0011;
 }
 .product-wrap {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
 }
 .product-wrap img {
    display: block;
    width: 100%;
 }
 .actions {
    position: absolute;
    left: 0;
    bottom: -20%;
    width: 100%;
    background: rgba(59, 62, 67, 0.75);
    transition: .3s linear;
 }
 .product-inner:hover .actions {
    bottom: 0;
 }
 .actions a {
    text-decoration: none;
    float: left;
    width: 50%;
    color: white;
    padding: 15px 0;
    transition: .2s linear;
 }
 .actions a:hover {
    background: rgba(59, 62, 67, 0.85);
 }
 .actions a:before {
    font-family: "FontAwesome";
 }
 .add-to-cart:before {
    content: "\f07a";
 }
 .quickview:before {
    content: "\f002";
 }
 .wishlist:before {
    content: "\f08a";
 }
 .product-info {
    padding-bottom: 10px;
    font-family: 'Noto Sans', sans-serif;
 }
 .product-title {
    margin: 0 0 10px 0;
    font-family: 'Noto Sans', sans-serif;
 }
 .product-title a {
    text-decoration: none;
    color: #1e1e1e;
    font-weight: 400;
    font-size: 16px;
 }
 .price {
    font-weight: bold;
    color: #bca480;
 }

 .single-goods{
    width: 200px;
    height: 300px;
    border: 1px solid black;
    margin: 10px;
    float: left;
    text-align: center;
 }